{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "esmodules": true
        },
        "modules": false
      }
    ],
    ["@babel/preset-react"],
    [
      "@babel/preset-typescript",
      {
        "allowNamespaces": true,
        "onlyRemoveTypeAnnotations": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-transform-json-modules",
    "@babel/plugin-transform-async-to-generator",
    "@babel/plugin-transform-typescript",
    [
      "@babel/plugin-transform-react-jsx",
      {
        "throwIfNamespace": false, // defaults to true
        "runtime": "automatic"
      }
    ],
    "@babel/plugin-transform-object-assign",
    "@babel/plugin-transform-runtime"
  ]
}
